@import 'variables.scss';
@import 'mixins.scss';
@import 'components/search.scss';
@import 'components/auto-complete.scss';
@import 'components/auto-complete-choice.scss';
@import 'components/radial-gauge.scss';
@import 'components/card-statistics.scss';
@import 'components/card-physical.scss';
@import 'components/file-reader.scss';
@import 'components/awards.scss';
@import 'components/award.scss';
@import 'components/rwd-table.scss';
@import 'components/rating.scss';

html {
    padding: 0;
    background-color: $primary-color;
    //background-color: orange;
    //@include break(md) {
    //  background-color: yellow;
    //}
    //@include break(sm) {
    //  background-color: red;
    //}
    //@include break(xs) {
    //  background-color: blue;
    //}

}
body {
  margin: 0; padding: 0;
}
ul.header {
  float: left;
}



body, html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: capitalize;
  height: 100%;
  box-sizing: border-box;
}
main {
  background-color: transparent;
  padding: 10px;

}
header {
  background-color: $accent-color;
  text-align: left;
  color: $light-text;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-bottom: 1px solid #3f5d73;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

label {
  font-size: 12px;
  background-color: #0A3665;
  width: 100%;
  padding: 5px;
  color: $light-text;
  padding: 8px;
  display: block;
  text-transform: uppercase;
  font-weight: 18px;
  font-weight: 700;
}



.card {
  position:relative;
  background-color: white;
  overflow: hidden;
  //padding: 30px;

  //padding: 15px 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  .card__label--bottom {
    width: 100%;
    height: auto;
    background-color: #0A3665;
    position: absolute;
    bottom: 0;
    line-height: 5px;
    text-align: center;
  }
  &.card__title {
    background-color: white;
    height: 150px;
    box-sizing:border-box;
    padding: 0;
  }
  &.label {
    background-color: none;
    color: $dark-text;
  }
  &.card--padded {
    padding: 30px;
  }
  .card--interior {
    padding: 10px;
  }
    &.card--half {
    width: 50%;
    float: left;
  }
  ul, li {
    list-style: none;
    margin: 0;
    //padding: 0;
  }
  .auto-complete {


  }

}
