$query-xs: "(max-width: 480px)";
$query-sm: "(max-width: 768px)";
$query-md: "(max-width: 1024px)";
$query-lg: "(min-width: 1025px)";

$primary-color: #0063AC;
$accent-color: #002845;
$light-text: #fff;
$dark-text: #000;
$error-text: #ff0000;
